.container {
    width: 100%;
    min-height: 500px;
    background-color: var(--card-bg);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border: var(--card-border);
  }
  
  .options-wrapper {
    width: 100%;
    padding: 10px;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .add-wrapper {
    padding-top: 10px
  }
  
  @media only screen and (min-width: 600px) {
    .container .options-wrapper {
      font-size: 0.875rem;
    }
    .options-wrapper {
      flex-direction: row;
      margin-bottom: 0
    }
    .add-wrapper {
      padding-top: 0
    }
  }
  