.custom-btn-secondary {
  border-radius: 20px !important;
}

.custom-btn-primary {
  background-color: var(--ant-primary-color);
  border-radius: 20px !important;
  border-color: var(--ant-primary-color);
}
.detail {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
}

.detail:hover {
  background-color: var(--row-hover);
}