.custom-btn-secondary {
    width: 100% !important;
    color: var(--primary) !important;
    background-color: white !important;
    border-radius: 20px !important;
    border-color: var(--primary) !important;
    max-width: 140px !important;
  }
  
  .custom-btn-secondary:hover {
    color: white !important;
    border-color: var(--primary) !important;
    background-color: var(--primary) !important;
  }
  
  .custom-btn-primary {
    width: 100% !important;
    color: white !important;
    background-color: var(--primary) !important;
    border-radius: 20px !important;
    border-color: var(--primary) !important;
    max-width: 140px !important;
  }
  
  .custom-btn-primary:hover {
    color: white !important;
    border-color: #22d197 !important;
    background-color: #22d197 !important;
  }
  