.container {
  width: 100%;
  overflow-y: auto;
}

.options {
  display: flex;
  flex-direction: column;
}
.content {
  padding: 0 10px;
}

.location {
  margin-top: 10px !important;
  width: 190px;
}
.datepicker {
  margin-top: 10px !important;
  width: 240px !important;
}

@media only screen and (min-width: 600px) {
  .options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .location {
    margin-left: 10px !important;
    margin-top: 0 !important;
  }
  .datepicker {
    margin-left: 10px !important;
    width: 320px !important;
    margin-top: 0 !important;
  }
}
