.container {
  font-size: 0.75rem;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  background-color: var(--card-bg);
  border: 1px solid var(--border-1);
  color: var(--text-primary);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 4px;
  transition: all 0.3s ease;
}
.container:hover {
  background-color: var(--row-hover);
  transform: translateX(6px);
}

.edit-icon {
  font-size: 16px;
  transition: color 0.3s ease;
}
.delete-icon {
  font-size: 16px;
  transition: color 0.3s ease;
  padding-left: 5px;
}
.edit-icon:hover {
  color: var(--primary);
}
.delete-icon:hover {
  color: red;
}
.icon-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.first-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}



.subtitle-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 10px;
  opacity: 0.5;
  margin-top: 4px;
}
.tag {
  font-size: 14px;
}
.dot {
  margin: 0 4px;
  opacity: 0.5;
  font-size: 6px;
  color: var(--text-primary);
}
@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
  .icon-wrapper {
    flex: 1;
  }
  .wrapper {
    flex: 2;
  }
  .dot {
    margin: 0 6px;
    font-size: 10px;
  }
  .subtitle-wrapper {
    font-size: 14px;
  }
  .tag {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1000px) {
  .dot {
    font-size: 12px;
  }
}