.utilization {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.maintenance {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.pm-task {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.my-pm-task {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.status-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
}
@media only screen and (min-width: 1200px) {
  .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    flex: 1;
  }
}

