.container {
  width: 100%;
  overflow-y: auto;
}

.options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 230px));
  grid-gap: 20px;
}
.collapse-container {
  margin-top: 10px;
}
.datepicker {
  margin-bottom: 10px !important;
  width: 240px !important;
}
@media only screen and (min-width: 500px) {
  .datepicker {
    margin-right: 10px !important;
    width: 320px !important;
  }
  .options {
    flex-direction: row;
  }
}

@media only screen and (min-width: 600px) {
  .datepicker {
    margin-bottom: 0 !important;
  }
}
