.custom-btn-secondary {
  border-radius: 6px !important;
}

.custom-btn-primary {
  background-color: var(--ant-primary-color);
  border-radius: 6px !important;
  border-color: var(--ant-primary-color);
}