.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  width: 100%;
  font-size: 9px;
  position: relative;
  cursor: default !important;
  color: var(--text-primary);
}


.title-wrapper {
  display: flex;
  align-items: center;
  
}

.location-wrapper {
  display: flex;
  align-items: center;
}

.service-reading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 3;
  padding: 5px 0;
}

.reading {
  margin-right: 10px;
}

.reading-title {
  opacity: 0.5;
  display: inline-block;
  padding-right: 5px;
}
.title {
  padding-left: 5px;
}

.first-block {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-right: 10px;
}

.container {
  font-size: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--text-primary);
}


.button {
  line-height: 12px;
  width: 18px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.button:hover {
  color: var(--ant-primary-color);
}

.inner-first-block {
  margin-left: 20px;
}

.mn-title {
  padding-left: 5px;
  padding-right: 10px;
}

@media only screen and (min-width: 600px) {
  .container {
    font-size: 12px;
  }
  
  .header-container {
    font-size: 12px;
  }
  .service-reading-wrapper {
    flex-direction: row;
    padding: 0;
  }
  .first-block {
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-right: 20px;
  }
}
