.container {
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  border: var(--card-border);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.datepicker {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
