.container {
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  background-color: var(--card-bg);
  border: 1px solid var(--border-1);
  color: var(--text-primary);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 4px;
  transition: all 0.3s ease;
}
.container:hover {
  background-color: var(--row-hover);
  transform: translateX(6px);
}
.completedBy {
  font-size: 10;
  opacity: 0.5;
  display: inline-block;
}

.icon-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}
.user {
  display: flex;
  align-items: center;
}

.title-wrapper {
  display: flex;
  align-items: center;
  font-size: 10px;
}
.sub-title {
  font-size: 8px;
  opacity: 0.5;
}
.secondary {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column-reverse;
}

.tag {
  font-size: 9px !important;
  line-height: 1 !important;
}
@media only screen and (min-width: 600px) {
  .title-wrapper {
    font-size: 16px;
  }
  .tag {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  .sub-title {
    font-size: 12px;
  }
}
@media only screen and (min-width: 800px) {
  .secondary {
    align-items: center;
    flex-direction: row;
  }
  .tag-wrapper {
    margin-top: 0;
  }
  .title-wrapper {
    font-size: 18px;
  }
  .sub-title {
    font-size: 14px;
  }
}
