.container {
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 4px;
  transition: all 0.3s ease;
}
.container:hover {
  background-color: #f0f0f0;
  transform: translateX(6px);
}
.completedBy {
  font-size: 10;
  opacity: 0.5;
  display: inline-block;
}
.edit-icon {
  font-size: 16px;
  transition: color 0.3s ease;
}
.edit-icon:hover {
  color: var(--primary);
}
.icon-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  grid-area: icon-wrapper;
}

.tag {
  margin-top: 10px;
}
.user {
  display: flex;
  align-items: center;
}

.user-fullname {
  margin-left: 0.5rem;
}

.secondary {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column-reverse;

}

@media only screen and (min-width: 800px) {
  .secondary {
    align-items: center;
    flex-direction: row;
  }
  .tag {
    margin-top: 0;
  }
}
