.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.custom-btn-secondary {
  width: 100% !important;
  color: var(--primary) !important;
  background-color: white !important;
  border-radius: 20px !important;
  border-color: var(--primary) !important;
  max-width: 120px !important;
}

.custom-btn-secondary:hover {
  color: white !important;
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
}
