.header-container {
  display: flex;
  cursor: default !important;
  justify-content: space-between !important;
  width: 100%;
  font-size: 9px;
  position: relative;
  flex-direction: column;
  align-items: initial !important;
}
.collapse-container {
  font-size: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.id-wrapper {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.title {
  font-size: 14px;
  font-weight: 600;
}
.reading {
  display: flex;
  align-items: baseline;
  gap: 6px;
}
.name-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.collapse-title {
  font-size: 14px;
  font-weight: 600;
  color: #52c41a;
}
.collapse-title-two {
  font-size: 14px;
  font-weight: 600;
  padding-left: 2px;
}
.icon-text-opac {
  display: flex;
  align-items: center;
  gap: 6px;
  opacity: 0.5;
}
.divider {
  margin: 0 2px !important;
}
.checkbox * {
  font-size: 12px !important;
  padding-right: 0 !important;
}
.info-wrapper {
  margin-bottom: 10px;
  margin-right: 4px;
  margin-left: 4px;
}
.observation-wrapper {
  padding: 0 10px;
  padding-bottom: 10px;
}
.add-observation-wrapper {
  margin: 0 4px;
}

.level-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.level-two {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  gap: 6px;
}
.level-three {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 10px;
}
.suffix {
  font-size: 10px;
}
.flex-limit {
  max-width: 500px;
}

.actions {
  display: flex;
  gap: 6px;
}
.user-avatar-wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 6px;
  margin-bottom: 20px;
}
.user-avatar-detail {
  display: flex;
  flex-direction: column;
}
.user-avatar-name-wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.user-avatar-level-two {
  font-size: 12px;
  opacity: 0.5;
}
.dot {
  margin: 0 4px;
  opacity: 0.5;
  font-size: 6px;
  color: var(--text-primary);
}

@media only screen and (min-width: 500px) {
  .info-wrapper {
    margin-right: 8px;
    margin-left: 8px;
  }
  .add-observation-wrapper {
    margin: 0 8px;
  }
}

@media only screen and (min-width: 600px) {
  .dot {
    margin: 0 6px;
    font-size: 12px;
  }
  .divider {
    margin: 0 8px !important;
  }
  .collapse-title,
  .collapse-title-two {
    font-size: 16px;
  }

  .checkbox * {
    font-size: 14px !important;
  }
  .title {
    font-size: 16px;
  }
  .header-info-wrapper {
    flex-direction: row;
  }
  .id-wrapper {
    margin-top: 0;
  }

  .observation-wrapper {
    padding-right: 0;
    padding-left: 0;
  }
  .add-observation-wrapper {
    margin: 0 0;
  }

  .level-two {
    font-size: 14px;
  }
  .level-three {
    font-size: 12px;
  }
  .info-wrapper {
    margin-right: 0;
    margin-left: 0;
  }
}
@media only screen and (min-width: 800px) {
  .header-info-wrapper {
    flex-direction: row;
    align-items: center;
  }
  .collapse-container {
    font-size: 12px;
  }
  .header-container {
    font-size: 12px;
  }
}
