.header-container {
  display: flex;
  cursor: default !important;
  justify-content: space-between !important;
  width: 100%;
  font-size: 9px;
  position: relative;
  flex-direction: column;
  align-items: initial !important;
}
.collapse-container {
  font-size: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first-block {
  display: flex;
  flex-direction: column;
}
.second-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: 5px;
}


.task-progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.id-wrapper {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.title {
  padding-left: 5px;
}

.reading {
  margin-right: 10px;
}

.reading-title {
  opacity: 0.5;
  display: inline-block;
  padding-right: 5px;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.info-wrapper {
  margin-bottom: 10px;
}
.observation-wrapper {
  padding: 0 10px;
  padding-bottom: 10px;
}

.header-info-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.level-one {
  display: flex;
  flex-direction: column-reverse;
}
.level-two {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 8px;
}
.level-two-top {
  display: flex;
  align-items: center;
}
.level-two-bottom {
  display: flex;
  align-items: center;
}
.space {
  display: flex;
  align-items: center;
  margin-right: 10px;
  opacity: 0.5;
}
.spaceWithNoOpacity {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.flex-limit {
  max-width: 500px;
 
}

@media only screen and (min-width: 600px) {
  .header-info-wrapper {
    flex-direction: row;
  }
  .id-wrapper {
    margin-top: 0;
  }
  
  .second-block {
    padding-right: 0;
    padding-bottom: 0;
  }
  .observation-wrapper {
    padding-right: 0;
    padding-left: 0;
  }
  .space-two {
    display: flex;
    align-items: center;
    margin-right: 40px;
  }
  .level-two {
    font-size: 10px;
    flex-direction: row;
    align-items: center;
  }
}
@media only screen and (min-width: 800px) {
  .header-info-wrapper {
    flex-direction: row;
    align-items: center;
  }
  .collapse-container {
    font-size: 12px;
  }
  .header-container {
    font-size: 12px;
  }
  .first-block {
    flex: 1;
    flex-direction: row;
    align-items: center;
   
  }
}
@media only screen and (min-width: 1100px) {
  
  .level-one {
    flex-direction: row;
  }
  
}