.container {
  width: 100%;
  min-height: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}

.options-wrapper {
  width: 100%;
  padding: 10px;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.add-wrapper {
  padding-top: 10px
}

.location {
  width: 190px;
  margin: 10px 0 !important;
}


@media only screen and (min-width: 800px) {
  .options-wrapper {
    flex-direction: row;
    margin-bottom: 0
  }
  .add-wrapper {
    padding-top: 0
  }
}