.container {
  background-color: var(--card-bg);
  box-shadow: rgba(0, 0, 0, 0.24) 0 2px 4px;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--text-primary);
  border: var(--card-border);
  margin-bottom: 10px;
}