.collapse-container {
  width: 100%;
  background-color: var(--card-bg);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--card-bg);
  border-radius: 20px;
  padding: 16px 10px;
}

.form-container {
  width: 100%;
}
.header-title {
  color: var(--text-primary);
  font-size: 18px;
  text-align: left;
  width: 80px;
}

.item-container {
  display: flex;

  flex-wrap: wrap;
}
.reading-container {
  display: flex;
  flex-direction: column;
}

.reading-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin-bottom: 10px;
}

.item-wrapper {
  width: 100%;
}
.item {
  margin: 10px 0;
}

.title {
  color: var(--text-primary);
  font-size: 12px;
}
.search {
  width: 280px;
}
.sub-title {
  padding: 6px 0;
  font-size: 10px;
}

@media only screen and (min-width: 600px) {
  .item-wrapper {
    margin-right: 40px;
    width: 280px;
  }
}
@media only screen and (min-width: 1280px) {
  .collapse-container {
    margin-bottom: 0;
    max-width: 400px;
  }
  .item-container {
    flex-direction: column;
  }
  .search {
    width: 100%;
  }

  .reading-wrapper {
    margin-bottom: 0;
    justify-content: center;
  }
  .item-wrapper {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  .title {
    font-size: 14px;
  }
  .sub-title {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1300px) {
  .sub-title {
    padding: 0;
  }
}
@media only screen and (min-width: 1500px) {
  .reading-container {
    flex-direction: row;
  }
}