.custom-btn-secondary {
  border-radius: 20px !important;
}

.custom-btn-primary {
  background-color: var(--ant-primary-color);
  border-radius: 20px !important;
  border-color: var(--ant-primary-color);
}

.modal-header {
  font-size: 16px;
}

.row {
  display: flex;
  flex-direction: column;
}
.col {
  flex: 1;
}

.info-edit {
  display: flex;
  justify-content: center;
  color: var(--ant-primary-color);
  cursor: pointer;
  transition: color 0.3s ease;
}
.info-edit:hover {
  color: var(--ant-primary-color-hover);
}


@media only screen and (min-width: 700px) {
  .row {
    flex-direction: row;
  }
  .col {
    flex: 1;
    padding: 0 20px;
  }
}
