.custom-btn-secondary {
  width: 100%;
  color: var(--primary);
  background-color: white;
  border-radius: 20px;
  border-color: var(--primary);
  max-width: 120px;
}

.custom-btn-secondary:hover,
.custom-btn-secondary:focus {
  color: white;
  border-color: var(--primary);
  background-color: var(--primary);
}

.custom-btn-primary {
  width: 100%;
  color: white;
  background-color: var(--primary);
  border-radius: 20px;
  border-color: var(--primary);
  max-width: 120px;
}

.custom-btn-primary:hover,
.custom-btn-primary:focus {
  color: white;
  border-color: #22d197;
  background-color: #22d197;
}
