.container {
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
}

.tab-container {
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 2px 4px;
  padding: 10px;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--text-primary);
  border: var(--card-border);
}

.info-container {
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
  padding: 10px 10px;
  font-size: 0.75rem;
  width: 100%;
  margin-bottom: 20px;
  border: var(--card-border);
}

.first-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.custom-btn-secondary {
  border-radius: 6px !important;
}

.tab-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-header {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 0.875rem;
  padding-left: 4px;
}

.info-edit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  color: var(--primary);
  cursor: pointer;
  margin-bottom: 20px;
}

.info-title-container {
  display: grid;
  grid-template-areas:
    "grid-image"
    "grid-two"
    "grid-one";
}

.grid-one {
  grid-area: grid-one;
}
.grid-two {
  grid-area: grid-two;
}

.info-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.info-title-btn-wrapper {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  grid-area: image;
}

.info-content {
  font-weight: 800;
}

.info-content-btn {
  margin-left: 1rem;
}

.info-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-ticket-wrapper__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checklist-container,
.periodic-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.checklist-options,
.periodic-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.checklist-content {
  display: flex;
  flex-direction: column;
  height: 600px;
  margin-top: 20px;
}

.checklist-content-title {
  text-align: center;
  font-weight: 600;
  padding-bottom: 20px;
  text-decoration: underline;
}

.checklist-content-wrapper {
  flex: 1;
  padding: 10px 20px;
  border: 1px solid #ccc;
  overflow-y: auto;
}

.location-wrapper {
  display: flex;
  align-items: center;
}

.title-wrapper {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

.title {
  padding-left: 5px;
}

.dash {
  padding: 0 5px;
}

.deleted {
  color: red;
  font-weight: 700;
}

.info-option-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.note-option-wrapper {
  display: flex;
  align-items: center;
}

.note-option {
  margin-right: 1rem;
}
.main-title {
  font-size: 16px;
  font-weight: 800;
}
.second-title {
  font-size: 14px;
  font-weight: 600;
}
.dot {
  margin: 0 4px;
  opacity: 0.5;
  font-size: 10px;
  color: var(--text-primary);
}
.info-wrapper {
  margin-bottom: 10px;
}
@media only screen and (min-width: 600px) {
  .dot {
    margin: 0 6px;
    font-size: 10px;
  }
  .main-title {
    font-size: 22px;
  }
  .second-title {
    font-size: 18px;
  }
  .location-wrapper {
    font-size: 20px;
  }

  .title-wrapper {
    font-size: 16px;
  }
  .deleted {
    font-size: 22px;
  }
  
}
@media only screen and (min-width: 800px) {
  .container {
    flex-direction: column;
  }
  .checklist-content {
    flex-direction: row;
    height: 300px;
  }
  .info-title-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    grid-template-areas: "grid-one grid-two grid-image";
  }
  .info-wrapper {
    margin-bottom: 0;
  }
  .dot {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1000px) {
  .first-wrapper {
    flex-direction: row;
    margin-bottom: 20px;
  }
  .info-container {
    height: fit-content;
  }
  
}
