.container {
  width: 100%;
  overflow-y: auto;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.content {
  padding: 0 10px;
}

.dropdown {
  width: 400px;
  left: clamp(0%, 100vw, 3%) !important;
  top: 120px !important;
}

.datepicker-wrapper {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.calendar {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media only screen and (min-width: 600px) {
  .dropdown {
    width: 1200px;
    left: clamp(10%, 100vw, 14%) !important;
    top: 66.3333px;
  }
  .options {
    flex-direction: row;
  }
  .calendar {
    margin-left: auto;
    margin-right: 10px;
  }
  .datepicker-wrapper {
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .dropdown {
    left: clamp(10%, 100vw, 20%) !important;
    top: 66.3333px;
  }
}
