.header-container {
  display: flex;
  cursor: default !important;
  justify-content: space-between !important;
  width: 100%;
  font-size: 9px;
  position: relative;
  flex-direction: column;
  align-items: initial !important;
}
.collapse-container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.name-wrapper {
  display: flex;
  align-items: center;
}
.comment-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 6px;
}
.actions-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-left: 4px;
}
.title {
  font-size: 12px;
}
.detail-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.completedAt {
  opacity: 0.5;
  display: flex;
  font-size: 10px;
  gap: 4px;
}
.divider {
  margin: 0 2px !important;
}


@media only screen and (min-width: 600px) {
  .header-container {
    flex-direction: row;
    align-items: center !important;
  }
  .comment-wrapper {
    padding-right: 0;
  }
  .actions-wrapper {
    flex-direction: row;
    align-items: center;
  }
  .completedAt {
    flex-direction: row;
    align-items: center;
    font-size: 9px;
  }
  .top-wrapper {
    margin-top: 0;
  }
  .completedAt {
    font-size: 12px;
  }
  .divider {
    margin: 0 8px !important;
  }
  .title {
    font-size: 14px;
  }
}
@media only screen and (min-width: 800px) {
  .collapse-container {
    font-size: 12px;
  }
  .header-container {
    font-size: 12px;
  }
  .completedAt {
    font-size: 12px;
  }
}
