.container {
  width: 100%;
  overflow-y: auto;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  height: 600px;
  margin-top: 20px;
}

.content-title {
  text-align: center;
  font-weight: 600;
  padding-bottom: 20px;
  text-decoration: underline;
}

.content-wrapper-one {
  flex: 1;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow-y: auto;
}
.content-wrapper-two {
  flex: 1;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: auto;
}

.border {
  border: 1px solid #ccc;
  padding: 0 5px;
}

.content-title + .border {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 5px;
}
.border:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox {
  word-break: break-all;
}

.completedAt {
  font-size: 10px;
  opacity: 0.5;
  display: inline-block;
}

.deleteWrapper {
  display: flex;
  margin-right: 15px;
}

.delete {
  cursor: pointer;
  margin-left: 3px;
  color: rgb(65, 65, 65, 0.5);
  transition: color 0.3s ease;
}

.delete:hover {
  color: #ff4d4f;
}

.custom-btn-primary {
  width: 100% !important;
  color: white !important;
  background-color: var(--primary) !important;

  border-color: var(--primary) !important;
  max-width: 140px !important;
}

.custom-btn-primary:hover {
  color: white !important;
  border-color: #22d197 !important;
  background-color: #22d197 !important;
}

.row {
  display: flex;
}

.col {
  width: 150px;
  margin-right: 10px;
}

.description {
  font-size: 10px;
}

@media only screen and (min-width: 600px) {
  .options {
    flex-direction: row;
  }
  .description {
    font-size: 12px;
  }
  .completedAt {
    font-size: 12px;
  }
}
@media only screen and (min-width: 800px) {
  .container {
    flex-direction: column;
  }
  .content {
    flex-direction: row;
    height: 300px;
  }
  .content-wrapper-one {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }
  .content-wrapper-two {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .description {
    font-size: 14px;
  }
}
