.container {
  width: 100%;
  min-height: 500px;
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
  padding: 10px;
  padding-top: 0;
  border: var(--card-border);
}