.container {
  width: 100%;
  overflow-y: auto;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.content {
  padding: 0;
}

.first-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.add {
  margin-top: 10px;
}

@media only screen and (min-width: 620px) {
  .options {
    flex-direction: row;
  }
  .first-block {
    flex-direction: row;
  }
  .add {
    margin-top: 0;
  }
}
