.container {
  font-size: 9px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 4px;
  transition: all 0.3s ease;
}
.container:hover {
  background-color: #f0f0f0;
  transform: translateX(6px);
}
.completedBy,
.type,
.description {
  font-size: 10;
  opacity: 0.5;
  display: inline-block;
}

.doneBy-wrapper {
  display: flex;
  align-items: center;
}
.doneBy {
  font-size: 10;
  opacity: 0.5;
  display: inline-block;
  padding-left: 5px;
}

.time-wrapper {
  display: flex;
  align-items: center;
}

.time {
  padding-left: 5px;
}

@media only screen and (min-width: 600px) {
  .container {
    font-size: 12px;
  }
  .first-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
  }
  .second-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 2;
  }
}
