.container {
  width: 150px;
  min-height: 80px;
  background-color: var(--card-bg);
  border-radius: 20px;
  padding: 0px 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5px;
  transition: transform 0.3s ease;
  color: var(--text-primary);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
}

.amount {
  font-size: 16px;
  font-weight: 800;
}

.content {
  text-align: right;
}

.sub-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sub-icon {
  margin-left: 10px;
  cursor: pointer;
}

.container:hover {
  transform: translateY(-5px);
}
