@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*** The new CSS Reset - version 1.4.3 (last updated 19.12.2021) ***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
  font-family: "Nunito", sans-serif;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

body {
  font-family: "Nunito";
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
a {
  color: var(--ant-primary-color) !important;
}

:root {
  --primary: #1aaa7a;
  --error: #ff4d4f;
  --text-primary: black;
  --white: white;
  --dot-tooltip: #efefef;
  --row-hover: #f5f5f5;
  --sidebar: white;
  --navbar: var(--ant-primary-color);
  --card-bg: white;
  --total-card-border: black;
  --border-1: #ccc;
  --border-2: #e5e5e5;
  --working-bg: rgb(224, 255, 255);
  --working-color: rgb(0, 139, 139);
  --idle-bg: rgba(255, 165, 0, 0.2);
  --idle-color: rgb(219, 142, 0);
  --breakdown-bg: rgba(255, 0, 0, 0.2);
  --breakdown-color: rgb(139, 0, 0);
  --dispose-bg: rgba(102, 0, 0, 0.3);
  --dispose-color: rgb(102, 0, 0);
  --comment-bg: #efefefa3;
  --a-disabled: rgba(0, 0, 0, 0.25);
  --caption: rgba(0, 0, 0, 0.45);
  --mark: #feffe6;
  --ant-c-primary-1n10: var(--ant-primary-1);
  --ant-alert: rgba(0, 0, 0, 0.85);
  --ant-success-color: #52c41a;
  --ant-success-color-hover: #73d13d;
  --ant-success-color-active: #389e0d;
  --ant-success-color-outline: rgba(82, 196, 26, 0.2);
  --ant-success-color-deprecated-bg: #f6ffed;
  --ant-success-color-deprecated-border: #b7eb8f;
  --ant-error-color: #ff4d4f;
  --ant-error-color-hover: #ff7875;
  --ant-error-color-active: #d9363e;
  --ant-error-color-outline: rgba(255, 77, 79, 0.2);
  --ant-error-color-deprecated-bg: #fff2f0;
  --ant-error-color-deprecated-border: #ffccc7;
  --ant-warning-color: #faad14;
  --ant-warning-color-hover: #ffc53d;
  --ant-warning-color-active: #d48806;
  --ant-warning-color-outline: rgba(250, 173, 20, 0.2);
  --ant-warning-color-deprecated-bg: #fffbe6;
  --ant-warning-color-deprecated-border: #ffe58f;
  --ant-info-color: #1890ff;
  --ant-info-color-deprecated-bg: #e6f7ff;
  --ant-info-color-deprecated-border: #91d5ff;
  --anticon-close-hover: rgba(0, 0, 0, 0.75);
  --ant-anchor-ink-before: rgba(0, 0, 0, 0.06);
  --ant-anchor-ink-ball: #fff;
  --ant-btn-border: rgb(217, 217, 217);
  --ant-btn-bg: transparent;
  --ant-btn-disabled-color: rgba(0, 0, 0, 0.25);
  --ant-btn-disabled-bg: #f5f5f5;
  --ant-btn-link-active: var(--ant-primary-color-active);
  --ant-btn-dangerous-ant-btn-text-hover-border: var(--ant-primary-color-hover);
  --ant-btn-dangerous-ant-btn-text-hover-bg: transparent;
  --ant-btn-dangerous-ant-btn-text-active-border: var(
    --ant-primary-color-active
  );
  --ant-btn-dangerous-ant-btn-text-disabled-border: #d9d9d9;
  --ant-btn-dangerous-ant-btn-text-disabled-bg: #f5f5f5;
  --ant-btn-background-ghost-border: #fff;
  --ant-comment-actions-hover: #595959;
  --ant-picker-not-disabled-hover: #fff;
  --ant-picker-bg: transparent;
  --ant-picker-panel: #fff;
  --ant-divider: rgba(0, 0, 0, 0.06);
  --ant-transfer-list-header: #3a3a3a;
  --ant-table-filter-trigger-container-open: #525252;
  --ant-layout-footer: #f0f2f5;
  --ant-layout-sider-trigger-bg: #fafafa;
  --ant-menu-not-horizontal-menu-item-selected: #fff1f0;
  --ant-modal-tr-ant-table-expanded-row-td: #272727;
  --ant-modal-ant-table-ant-table-filter: #525252;
  --ant-popover-magenta: #eb2f96;
  --ant-popover-red: #f5222d;
  --ant-popover-volcano: #fa541c;
  --ant-popover-orange: #fa8c16;
  --ant-popover-yellow: #fadb14;
  --ant-popover-gold: #faad14;
  --ant-popover-cyan: #13c2c2;
  --ant-popover-lime: #a0d911;
  --ant-popover-green: #52c41a;
  --ant-popover-blue: #1890ff;
  --ant-popover-geek-blue: #2f54eb;
  --ant-popover-purple: #722ed1;
  --ant-radio-disabled-inner-after: rgba(0, 0, 0, 0.2);
  --ant-rate: #fadb14;
  --ant-switch-focus: rgba(0, 0, 0, 0.1);
  --ant-table-small-table-thead-th: #fafafa;
  --ant-table-column-sort: #f5f5f5;
  --ant-tree-node-content-wrapper-hover: #f5f5f5;
  --transparent: transparent;
  --ant-tag-pink-color: #c41d7f;
  --ant-tag-pink-bg: #fff0f6;
  --ant-tag-pink-border: #ffadd2;
  --ant-tag-red-color: #cf1322;
  --ant-tag-red-border: #ffa39e;
  --ant-tag-volcano-color: #d4380d;
  --ant-tag-volcano-bg: #fff2e8;
  --ant-tag-volcano-border: #ffbb96;
  --ant-tag-orange-color: #d46b08;
  --ant-tag-orange-bg: #fff7e6;
  --ant-tag-orange-border: #ffd591;
  --ant-tag-yellow-color: #d4b106;
  --ant-tag-yellow-bg: #feffe6;
  --ant-tag-yellow-border: #fffb8f;
  --ant-tag-gold-color: #d48806;
  --ant-tag-gold-bg: #fffbe6;
  --ant-tag-gold-border: #ffe58f;
  --ant-tag-cyan-color: #08979c;
  --ant-tag-cyan-bg: #e6fffb;
  --ant-tag-cyan-border: #87e8de;
  --ant-tag-lime-color: #7cb305;
  --ant-tag-lime-bg: #fcffe6;
  --ant-tag-lime-border: #eaff8f;
  --ant-tag-green-color: #389e0d;
  --ant-tag-green-bg: #f6ffed;
  --ant-tag-green-border: #b7eb8f;
  --ant-tag-blue-color: #096dd9;
  --ant-tag-blue-bg: #e6f7ff;
  --ant-tag-blue-border: #91d5ff;
  --ant-tag-geek-blue-color: #1d39c4;
  --ant-tag-geek-blue-bg: #f0f5ff;
  --ant-tag-geek-blue-border: #adc6ff;
  --ant-tag-purple-color: #531dab;
  --ant-tag-purple-bg: #f9f0ff;
  --ant-tag-purple-border: #d3adf7;
  --ant-empty-img-default-ellipse: #f5f5f5;
  --ant-empty-img-default-path-1: #aeb8c2;
  --ant-empty-img-default-path-3: #f5f5f7;
  --ant-empty-img-default-path-4: #dce0e6;
  --ant-empty-img-default-path-5: #dce0e6;
  --ant-empty-img-default-g: #fff;
  --ant-empty-img-simple-g: #d9d9d9;
  --ant-empty-img-simple-path: #fafafa;
  --ant-picker-panel-container-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --ant-tooltip-inner-bg: rgba(0, 0, 0, 0.75);
  --datepicker-range-hover: var(--ant-primary-color-deprecated-l-35);
  --scrollbar-thumb-bg: #cdcdcd;
  --scrollbar-thumb-bg-hover: #a6a6a6;
  --scrollbar-thumb-bg-active: #606060;
}

[data-theme="dark"] {
  --primary: #1aaa7a;
  --error: #ff4d4f;
  --text-primary: #d6d6d6;
  --white: #d6d6d6;
  --dot-tooltip: var(--ant-btn-border);
  --row-hover: #262626;
  --sidebar: #001529;
  --card-bg: #1d1d1d;
  --total-card-border: #ccc;
  --border-1: #424242;
  --border-2: #9c9c9c;
  --navbar: var(--ant-primary-8);
  --working-bg: #264a4e;
  --working-color: #3cdad4;
  --idle-bg: rgba(255, 165, 0, 0.4);
  --idle-color: rgb(243, 159, 4);
  --breakdown-bg: rgba(255, 0, 0, 0.3);
  --breakdown-color: #ff474a;
  --dispose-bg: rgba(102, 0, 0, 0.8);
  --dispose-color: rgb(220, 3, 3);
  --comment-bg: #424242;
  --ant-primary-color: var(--ant-primary-6) !important;
  --a-disabled: hsla(0, 0%, 100%, 0.3);
  --caption: hsla(0, 0%, 100%, 0.45);
  --mark: #2b2611;
  --ant-c-primary-1n10: var(--ant-primary-10);
  --ant-alert: hsla(0, 0%, 100%, 0.85);
  --ant-success-color: #52c41a;
  --ant-success-color-hover: #73d13d;
  --ant-success-color-active: #389e0d;
  --ant-success-color-outline: rgba(82, 196, 26, 0.2);
  --ant-success-color-deprecated-bg: #f6ffed;
  --ant-success-color-deprecated-border: #b7eb8f;
  --ant-error-color: #ff4d4f;
  --ant-error-color-hover: #ff7875;
  --ant-error-color-active: #d9363e;
  --ant-error-color-outline: rgba(255, 77, 79, 0.2);
  --ant-error-color-deprecated-bg: #fff2f0;
  --ant-error-color-deprecated-border: #ffccc7;
  --ant-warning-color: #faad14;
  --ant-warning-color-hover: #ffc53d;
  --ant-warning-color-active: #d48806;
  --ant-warning-color-outline: rgba(250, 173, 20, 0.2);
  --ant-warning-color-deprecated-bg: #fffbe6;
  --ant-warning-color-deprecated-border: #ffe58f;
  --ant-info-color: #1890ff;
  --ant-info-color-deprecated-bg: #e6f7ff;
  --ant-info-color-deprecated-border: #91d5ff;
  --anticon-close-hover: hsla(0, 0%, 100%, 0.75);
  --ant-anchor-ink-before: #303030;
  --ant-anchor-ink-ball: #141414;
  --ant-btn-border: #434343;
  --ant-btn-bg: transparent;
  --ant-btn-disabled-bg: hsla(0, 0%, 100%, 0.08);
  --ant-btn-link-active: transparent;
  --ant-btn-dangerous-ant-btn-text-hover-border: transparent;
  --ant-btn-dangerous-ant-btn-text-hover-bg: hsla(0, 0%, 100%, 0.03);
  --ant-btn-dangerous-ant-btn-text-active-border: transparent;
  --ant-btn-dangerous-ant-btn-text-disabled-border: #d9d9d9;
  --ant-btn-dangerous-ant-btn-text-disabled-bg: transparent;
  --ant-btn-background-ghost-border: hsla(0, 0%, 100%, 0.25);
  --ant-comment-actions-hover: hsla(0, 0%, 100%, 0.65);
  --ant-picker-not-disabled-hover: hsla(0, 0%, 100%, 0.25);
  --ant-picker-bg: transparent;
  --ant-picker-panel: #1f1f1f;
  --ant-divider: hsla(0, 0%, 100%, 0.12);
  --ant-transfer-list-header: #3a3a3a;
  --ant-table-filter-trigger-container-open: #525252;
  --ant-layout-footer: #000;
  --ant-layout-sider-trigger-bg: #262626;
  --ant-menu-not-horizontal-menu-item-selected: #2a1215;
  --ant-modal-tr-ant-table-expanded-row-td: #272727;
  --ant-modal-ant-table-ant-table-filter: #525252;
  --ant-popover-magenta: #cb2b83;
  --ant-popover-red: #d32029;
  --ant-popover-volcano: #d84a1b;
  --ant-popover-orange: #d87a16;
  --ant-popover-yellow: #d8bd14;
  --ant-popover-gold: #d89614;
  --ant-popover-cyan: #13a8a8;
  --ant-popover-lime: #8bbb11;
  --ant-popover-green: #49aa19;
  --ant-popover-blue: #1890ff;
  --ant-popover-geek-blue: #2b4acb;
  --ant-popover-purple: #642ab5;
  --ant-radio-disabled-inner-after: hsla(0, 0%, 100%, 0.2);
  --ant-rate: #d8bd14;
  --ant-switch-focus: hsla(0, 0%, 100%, 0.1);
  --ant-table-small-table-thead-th: #1d1d1d;
  --ant-table-column-sort: #222;
  --ant-tree-node-content-wrapper-hover: #11263c;
  --transparent: transparent;
  --ant-tag-pink-color: #e0529c;
  --ant-tag-pink-bg: #291321;
  --ant-tag-pink-border: #551c3b;
  --ant-tag-red-color: #e84749;
  --ant-tag-red-border: #58181c;
  --ant-tag-volcano-color: #e87040;
  --ant-tag-volcano-bg: #2b1611;
  --ant-tag-volcano-border: #592716;
  --ant-tag-orange-color: #e89a3c;
  --ant-tag-orange-bg: #2b1d11;
  --ant-tag-orange-border: #593815;
  --ant-tag-yellow-color: #e8d639;
  --ant-tag-yellow-bg: #2b2611;
  --ant-tag-yellow-border: #595014;
  --ant-tag-gold-color: #e8b339;
  --ant-tag-gold-bg: #2b2111;
  --ant-tag-gold-border: #594214;
  --ant-tag-cyan-color: #33bcb7;
  --ant-tag-cyan-bg: #112123;
  --ant-tag-cyan-border: #144848;
  --ant-tag-lime-color: #a9d134;
  --ant-tag-lime-bg: #1f2611;
  --ant-tag-lime-border: #3e4f13;
  --ant-tag-green-color: #6abe39;
  --ant-tag-green-bg: #162312;
  --ant-tag-green-border: #274916;
  --ant-tag-blue-color: #3c9ae8;
  --ant-tag-blue-bg: #111d2c;
  --ant-tag-blue-border: #15395b;
  --ant-tag-geek-blue-color: #5273e0;
  --ant-tag-geek-blue-bg: #131629;
  --ant-tag-geek-blue-border: #1c2755;
  --ant-tag-purple-color: #854eca;
  --ant-tag-purple-bg: #1a1325;
  --ant-tag-purple-border: #301c4d;
  --ant-empty-img-default-ellipse: #fff;
  --ant-empty-img-default-path-1: #262626;
  --ant-empty-img-default-path-3: #595959;
  --ant-empty-img-default-path-4: #434343;
  --ant-empty-img-default-path-5: #595959;
  --ant-empty-img-default-g: #595959;
  --ant-empty-img-simple-g: #434343;
  --ant-empty-img-simple-path: #262626;
  --ant-picker-panel-container-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.48),
    0 6px 16px 0 rgba(0, 0, 0, 0.32), 0 9px 28px 8px rgba(0, 0, 0, 0.2);
  --ant-tooltip-inner-bg: #434343;
  --datepicker-range-hover: #06213a;
  --scrollbar-thumb-bg: #747474;
  --scrollbar-thumb-bg-hover: #606062;
  --scrollbar-thumb-bg-active: #606060;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-bg-hover);
}
*::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-thumb-bg-active);
}

.anticon,
.ant-menu-item .anticon {
  font-size: 14px;
}

.ant-modal-content {
  border-radius: 20px !important;
}

.ant-modal-header {
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
}

.ant-popover-inner {
  border-radius: 20px !important;
}

.ant-popover-buttons .ant-btn {
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.ant-card-actions {
  border-top: 1px solid #ccc !important;
}
.ant-card-actions > li:not(:last-child) {
  border-right: 1px solid #ccc !important;
}

.ql-container.ql-disabled .ql-tooltip {
  display: none !important;
}

.ant-drawer-header {
  padding: 0 !important;
  border-bottom: none !important;
  height: 50px !important;
}

.ant-drawer-title {
  height: 50px !important;
}

.ant-drawer-body {
  padding: 5px !important;
}

.ant-tabs-content-top {
  height: 100%;
}

#AddChecklistItemInput::placeholder {
  color: rgb(191, 191, 191, 1);
}

#SearchInput::placeholder {
  color: rgb(191, 191, 191, 1);
}

#AddTask::placeholder {
  color: rgb(191, 191, 191, 1);
}

#innerSubTask:hover {
  background-color: #f0f1f1;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

u {
  text-decoration: underline;
}

em {
  font-style: italic;
}

.ant-menu-inline {
  border-right: none !important;
}

.ant-menu-item-selected > * {
  transform: translateX(10px) !important;
}

.ant-menu-item-divider {
  border-color: var(--border-1) !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  transition: transform 0.3s, border-color 0.3s, background 0.3s,
    padding 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) !important;
}

.ant-picker-panel-container {
  border-radius: 20px !important;
}

.ant-dropdown {
  position: fixed !important;
}

.ant-collapse-header {
  padding-bottom: 0px !important;
}

.ant-btn-round.ant-btn-icon-only {
  width: 100% !important;
}
.ant-upload {
  width: 100% !important;
}
.ant-image-mask {
  border-radius: 6px !important;
}
.ant-image-img {
  border-radius: 6px !important;
}

.ant-collapse {
  border-radius: 6px !important;
  border: 1px solid var(--border-1) !important;
}

.ant-collapse-ghost > .ant-collapse-item {
  border-bottom: 1px solid var(--border-1) !important;
}

.ant-collapse-ghost > .ant-collapse-item:last-child {
  border-bottom: none !important;
}

.ant-select:not(.ant-select-disabled) .ant-select-selector {
  border-radius: 20px !important;
}

#collapse .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0 !important;
  padding-left: 5px !important;
  border-bottom: 1px solid var(--border-1);
  cursor: default !important;
}
#collapse .ant-collapse > .ant-collapse-item > .ant-collapse-header > div {
  min-height: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#collapse
  .ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 5px !important;
  cursor: default !important;
}

#collapseTwo .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0 !important;
  padding-left: 5px !important;
  border-bottom: 1px solid var(--border-1);
  cursor: default !important;
}
#collapseTwo .ant-collapse > .ant-collapse-item > .ant-collapse-header > div {
  min-height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-primary);
}

#collapseThree
  .ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 5px !important;
  cursor: default !important;
}

#collapseThree .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0 !important;
  padding-left: 5px !important;
  border-bottom: 1px solid var(--border-1);
  cursor: default !important;
}
#collapseThree .ant-collapse > .ant-collapse-item > .ant-collapse-header > div {
  min-height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-primary);
}

#collapseThree
  .ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 5px !important;
  cursor: default !important;
}

#collapseTwo
  .ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#filterCollapse .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0 !important;
  padding-left: 5px !important;
  border-bottom: 1px solid transparent;
  cursor: default !important;
  
}
#filterCollapse
  .ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  > div {
  min-height: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#filterCollapse
  .ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 0 !important;
  cursor: default !important;
}

#filterCollapse .ant-collapse-ghost {
  border: none !important;
  background-color: var(--card-bg);
}

@media only screen and (min-width: 600px) {
  #collapse .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 5px !important;
    cursor: default !important;
  }
  #collapse
    .ant-collapse-ghost
    > .ant-collapse-item
    > .ant-collapse-content
    > .ant-collapse-content-box {
    padding: 10px !important;
    cursor: default !important;
  }
  #collapse
    .ant-collapse
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    display: inline-block;
    margin-right: 12px !important;
    font-size: 12px;
    vertical-align: -1px;
    cursor: pointer !important;
    color: var(--text-primary);
  }
  #collapseTwo .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 0 5px !important;
    cursor: default !important;
  }
  #collapseTwo
    .ant-collapse-ghost
    > .ant-collapse-item
    > .ant-collapse-content
    > .ant-collapse-content-box {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  #collapseThree .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 0 5px !important;
    cursor: default !important;
  }
}

.notRounded.ant-select:not(.ant-select-disabled) .ant-select-selector {
  border-radius: 0 !important;
}

.underlineOnHover:hover {
  text-decoration: underline;
}

.secondaryButton {
  border-radius: 20px !important;
}

.primaryButton {
  background-color: var(--ant-primary-color);
  border-radius: 20px !important;
  border-color: var(--ant-primary-color);
}
.primaryButton:hover {
  border-color: var(--ant-primary-color-hover);
  background-color: var(--ant-primary-color-hover);
}

.deleteButton {
  color: var(--error);
  cursor: pointer;
}
.deleteButton:hover .deleteButton:focus {
  color: rgb(185, 3, 3) !important;
}

.editButton {
  color: var(--ant-primary-color);
  cursor: pointer;
  transition: color 0.3s ease;
}
.editButton:hover {
  color: var(--ant-primary-color-hover);
}

#colorcircle .ant-badge-status-dot {
  background: var(--ant-primary-color) !important;
  width: 16px !important;
  min-width: 16px !important;
  height: 16px !important;
  margin-left: 10px;
}

.sketch-picker {
  display: flex !important;
  flex-direction: column-reverse !important;
  background-color: var(--card-bg) !important;
  border: 1px var(--border-1) solid !important;
}
.flexbox-fix {
  border-top: 1px var(--border-1) solid !important;
}

.ant-typography a:focus,
.ant-typography a:hover,
a.ant-typography:focus,
a.ant-typography:hover {
  color: var(--ant-primary-color-hover) !important;
}
.ant-typography-copy:focus,
.ant-typography-copy:hover,
.ant-typography-edit:focus,
.ant-typography-edit:hover,
.ant-typography-expand:focus,
.ant-typography-expand:hover {
  color: var(--ant-primary-color-hover) !important;
}
.ant-typography a,
a.ant-typography {
  color: var(--ant-primary-color) !important;
}
.ant-typography p,
div.ant-typography {
  margin-bottom: 0 !important;
}

.ant-layout-sider {
  background: var(--card-bg) !important;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: var(--ant-picker-bg) !important;
  border: 1px solid var(--ant-btn-border) !important;
}
.ant-tooltip-inner {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px -4px,
    rgba(0, 0, 0, 0.08) 0px 6px 16px 0px, rgba(0, 0, 0, 0.05) 0px 9px 28px 8px !important;
}

#loginBtn .ant-btn-primary {
  background-color: #060e9f !important;
}

#pmDatepicker .ant-picker-date-panel {
  width: clamp(280px, 90vw, 400px) !important;
  transition: all 0.3s ease !important;
}

#pmDatepicker .ant-picker-date-panel .ant-picker-content {
  width: 100% !important;
}

#pmDropdown .ant-picker-range-wrapper.ant-picker-date-range-wrapper {
  width: 1200px !important;
}

#pmDatepicker
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-end-single:after,
#pmDatepicker
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-start-near-hover:after,
#pmDatepicker
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):after,
#pmDatepicker
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start-single:after,
#pmDatepicker
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-end-near-hover:after,
#pmDatepicker
  .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):after,
#pmDatepicker
  .ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-in-range):after {
  height: 100% !important;
}
#pmDatepicker .ant-picker-cell:before {
  right: 0% !important;
  left: 0% !important;
  height: 100% !important;
  opacity: 0.5 !important;
}
#pmDatepicker .ant-picker-cell {
  border: 1px solid var(--border-2) !important;
}

#pmDatepicker .ant-picker-panels {
  flex-wrap: wrap !important;
  width: 100% !important;
}
#pmDatepicker {
  width: min-content !important;
}
.ant-picker-content td,
.ant-picker-content th {
  position: relative;
  max-width: 11px !important;
  font-weight: 400;
}
@media only screen and (min-width: 920px) {
  #pmDatepicker .ant-picker-panels {
    flex-wrap: nowrap !important;
  }
  #pmDatepicker {
    width: initial !important;
  }
}
