@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*** The new CSS Reset - version 1.4.3 (last updated 19.12.2021) ***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
  font-family: "Nunito", sans-serif;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

html {
  background-color: var(--html-bg-color) !important;
}

body {
  background-color: var(--html-bg-color) !important;
  font-family: "Nunito";
}

a {
  color: initial !important;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

:root {
  --html-bg-color: #f0f1f1;
  --primary: #1aaa7a;
  --secondary: #cbffee;
  --grey: #888787;
  --sidebar-bg-color: #fff;
  --sidebar-text-color: black;
  --sidebar-item-hover-color: rgba(49, 166, 245, 0.2);
  --speed: 500ms;
  --error: #ff4d4f;
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 3px solid var(--scroll-bar-bg-color);
}

.anticon,
.ant-menu-item .anticon {
  font-size: 14px;
}

.ant-modal-content {
  border-radius: 20px !important;
}

.ant-modal-header {
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
}

.ant-popover-inner {
  border-radius: 20px !important;
}

.ant-popover-buttons .ant-btn {
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.ant-card-actions {
  border-top: 1px solid #ccc !important;
}
.ant-card-actions > li:not(:last-child) {
  border-right: 1px solid #ccc !important;
}

.ql-container.ql-disabled .ql-tooltip {
  display: none !important;
}

.ant-drawer-header {
  padding: 0 !important;
  border-bottom: none !important;
  height: 50px !important;
}

.ant-drawer-title {
  height: 50px !important;
}

.ant-drawer-body {
  padding: 5px !important;
}

.ant-tabs-content-top {
  height: 100%;
}

#AddChecklistItemInput::placeholder {
  color: rgb(191, 191, 191, 1);
}

#SearchInput::placeholder {
  color: rgb(191, 191, 191, 1);
}

#AddTask::placeholder {
  color: rgb(191, 191, 191, 1);
}

#innerSubTask:hover {
  background-color: #f0f1f1;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

u {
  text-decoration: underline;
}

em {
  font-style: italic;
}

.ant-menu-inline {
  border-right: none !important;
}

.ant-menu-item-selected > * {
  transform: translateX(10px) !important;
}


.ant-menu-item-divider {
  border-color: #ccc !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  transition: transform 0.3s, border-color 0.3s, background 0.3s,
    padding 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) !important;
}

.ant-picker-panel-container {
  border-radius: 20px !important;
}

.ant-dropdown {
  position: fixed !important;
}

.ant-collapse-header {
  padding-bottom: 0px !important;
}

.ant-btn-round.ant-btn-icon-only {
  width: 100% !important;
}
.ant-upload {
  width: 100% !important;
}
.ant-image-mask {
  border-radius: 6px !important;
}
.ant-image-img {
  border-radius: 6px !important;
}

.ant-collapse {
  border-radius: 6px !important;
  border: 1px solid #ccc !important;
}

.ant-collapse-ghost > .ant-collapse-item {
  border-bottom: 1px solid #ccc !important;
}

.ant-collapse-ghost > .ant-collapse-item:last-child {
  border-bottom: none !important;
}

.ant-select:not(.ant-select-disabled) .ant-select-selector {
  border-radius: 20px !important;
}


#collapse .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0 !important;
  padding-left: 5px !important;
  border-bottom: 1px solid #ccc;
}
#collapse
  .ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  display: inline-block;
  margin-right: 0 !important;
  font-size: 12px;
  vertical-align: -1px;
}

#collapse
  .ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 5px !important;
}

@media only screen and (min-width: 600px) {
  #collapse .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 5px !important;
  }
  #collapse
    .ant-collapse-ghost
    > .ant-collapse-item
    > .ant-collapse-content
    > .ant-collapse-content-box {
    padding: 10px !important;
  }
  #collapse
    .ant-collapse
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-arrow {
    display: inline-block;
    margin-right: 12px !important;
    font-size: 12px;
    vertical-align: -1px;
  }
}

.notRounded.ant-select:not(.ant-select-disabled) .ant-select-selector {
  border-radius: 0 !important;
}

.underlineOnHover:hover {
  text-decoration: underline;
}


.secondaryButton {

  border-radius: 20px !important;

}


.primaryButton {
  background-color: var(--ant-primary-color);
  border-radius: 20px !important;
  border-color: var(--ant-primary-color);
}
.primaryButton:hover {
  border-color: var(--ant-primary-color-hover);
  background-color: var(--ant-primary-color-hover)
}

.deleteButton {
  color: var(--error);
  cursor: pointer;
}
.deleteButton:hover .deleteButton:focus {
  color: rgb(185, 3, 3) !important;
}

.editButton {
  color: var(--ant-primary-color);
  cursor: pointer;
  transition: color 0.3s ease;
}
.editButton:hover {
  color: var(--ant-primary-color-hover);
}

#colorcircle .ant-badge-status-dot {
  background: var(--ant-primary-color) !important;
  width: 16px !important;
  min-width: 16px !important;
  height: 16px !important;
  margin-left: 10px;
}