.font {
  font-size: 9px;
  vertical-align: middle;
}

.options-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.option {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media only screen and (min-width: 600px) {
  .font {
    font-size: 12px;
  }
  .options-wrapper {
    flex-direction: row;
  }
  
}

@media only screen and (min-width: 800px) {
  .font {
    font-size: 14px;
  }
}