.custom-btn-secondary {
  border-radius: 20px !important;
}

.custom-btn-primary {
  background-color: var(--ant-primary-color);
  border-radius: 20px !important;
  border-color: var(--ant-primary-color);
}

.title {
  padding-bottom: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  transition: all 0.3s ease;
}

.task:hover {
  background-color: #dcdcdc;
}

.task-delete {
  transition: color 0.3s ease;
}

.task-delete:hover {
  color: red;
}

.input-wrapper {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px;
  padding-left: 20px;
  font-size: 14px;
  width: 150px;
  justify-content: space-between;
}
