.container {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 5px;
  margin: 10px 0;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease;
}
.container:hover {
  background-color: #dcdcdc;
  transform: translateX(6px);
}
.title-wrapper {
  display: flex;
  align-items: center;
}

.title {
  padding-left: 5px;
}

.first-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
}

.second-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.third-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
  padding-top: 10px;
}

.fourth-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fifth-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-wrapper,
.second-wrapper {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.dash {
  padding: 0 5px;
}
@media only screen and (min-width: 800px) {
  .container {
    flex-direction: row;
    flex-grow: 1;
    padding: 10px;
  }
  .first-wrapper {
    justify-content: space-between;
    padding-right: 20px;
  }
  .second-wrapper {
    justify-content: space-between;
  }
  .first-block {
    flex-grow: 1;
  }
  .second-block {
    flex-grow: 1;
  }
  .third-block {
    flex-grow: 1;
    padding-top: 0;
  }
  .fourth-block {
    flex-grow: 1;
  }
  .fifth-block {
    flex-grow: 1;
    justify-content: center;
    align-items: flex-end;
  }
}
