.image-container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  max-height: 200px;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}
.image {
  aspect-ratio: 16/9;
  object-fit: fit;
}