.container {
  font-size: 0.75rem;
  flex-grow: 1;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 4px;
  transition: all 0.3s ease;
}

.container-wrapper {
  display: flex;
  flex-direction: row;
}


.second-block {
  display: flex;
  flex: 1;
  padding: 10px 0;
}
.second-block-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
.second-block-title {
  padding-left: 5px;
}
.completedBy {
  font-size: 10;
  opacity: 0.5;
  display: inline-block;
}
.edit-icon {
  font-size: 16px;
  transition: color 0.3s ease;
}
.delete-icon {
  font-size: 16px;
  transition: color 0.3s ease;
  padding-left: 5px;
}
.edit-icon:hover {
  color: var(--primary);
}
.delete-icon:hover {
  color: red;
}
.fourth-block {
  display: flex;
  justify-content: center;
}

.time-wrapper {
  display: flex;
  align-items: center;
}
.time {
  padding-left: 5px;
}


.taskID-bold {
  font-weight: 700;
  margin-right: 6px;
}


.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.checkbox {
  word-break: break-all;
}

.completedAt {
  font-size: 10;
  opacity: 0.5;
  display: inline-block;
}

.deleteWrapper {
  display: flex;
  margin-right: 15px;
}

.delete {
  cursor: pointer;
  margin-left: 3px;
  color: rgb(65, 65, 65, 0.5);
  transition: color 0.3s ease;
}

.delete:hover {
  color: #ff4d4f;
}

.task-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
@media only screen and (min-width: 800px) {
  .wrapper {
    display: flex;
    flex: 1;
    align-items: center;
  }
  .first-block {
    flex: 1;
  }
  .second-block {
    flex: 1;
    flex-direction: column;
  }
  .third-block {
    flex: 1;
  }
}
